<div class="card">
  <section class="spotify-playlist-section">
    <div class="d-flex justify-content-between">
      <span class="text-title text-display">Spotify Playlists</span>
      <a class="text-title text-display show-all" href="#">Show all</a>
    </div>

    <div class="spotify_grid-container">
      <div class="card-music">
        <div class="image-container">
          <div class="image-main">
            <img height="150" width="150" class="image-display image-cover" src="./assets/music.jpeg" alt="#blank">
          </div>
          <div class="play-button">
            <span [nzTwotoneColor]="'#52c41a'" nz-icon nzType="play-circle" nzTheme="twotone"></span>
          </div>
        </div>

        <div class="spotify-description">
          <div class="descrip-title">
            Today's Top Hits
          </div>
          <div class="descrip-main">
            Today's Top Hits
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
